.font1 {
  font-family: 'Libre Baskerville', serif;
}
.font2 {
  font-family: 'Sintony', sans-serif;
}
.color1 {
  color: #444444;
}
.color2 {
  color: #5e5e5e;
}
.color3 {
  color: #f5f5f5;
}
body {
  background: #f5f5f5;
  color: #444444;
  font-family: 'Sintony', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #5e5e5e;
  font-family: 'Libre Baskerville', serif;
}
a,
a:visited {
  color: #444444;
  text-decoration: none;
}
blockquote {
  margin: 0;
  color: #5e5e5e;
  font-family: 'Sintony', sans-serif;
  font-size: 1rem;
}
blockquote h1 {
  font-size: 1.5rem;
}
blockquote p,
blockquote ul {
  font-size: 1rem;
}
.mainwrap {
  width: 60%;
  margin: 2em 10%;
  padding: 1em 10%;
  background: white;
  border: 1px solid #e9e9e9;
  box-shadow: 3px 3px 5px #ddd;
}
.mainwrap > section {
  width: 100%;
}
#topside {
  font-size: 1rem;
  margin-bottom: 3rem;
  float: left;
  width: 100%;
}
#topside h1 {
  font-size: 1.5rem;
}
#topside p,
#topside ul {
  font-size: 1rem;
}
#topside header {
  transition: all .5s ease;
  -webkit-transition: all .5s ease;
}
#topside header.sticky {
  position: relative;
  top: 0;
  background: #5e5e5e;
  color: #f5f5f5;
  margin: .25rem 0;
  transform: scale(1.01);
  /* W3C */

  -webkit-transform: scale(1.01);
  /* Safari & Chrome */

  -moz-transform: scale(1.01);
  /* Firefox */

  -ms-transform: scale(1.01);
  /* Internet Explorer */

  -o-transform: scale(1.01);
  /* Opera */

}
#topside header h1 {
  text-align: right;
}
#topside header h1 span {
  color: #444444;
  text-align: left;
  float: left;
  margin-right: 2rem;
}
#topside .meta {
  float: left;
  width: 100%;
}
#topside .meta .primary-data,
#topside .meta .secondary-data {
  width: 50%;
  float: left;
}
#topside .meta .primary-data ul,
#topside .meta .secondary-data ul {
  margin: 0;
  padding: 0;
}
#topside .meta .primary-data li,
#topside .meta .secondary-data li {
  list-style: none;
  padding: 0;
  margin: 0;
}
#topside .meta .secondary-data {
  text-align: right;
}
#main-area {
  font-size: 0.5rem;
  clear: both;
}
#main-area h1 {
  font-size: 0.75rem;
}
#main-area p,
#main-area ul {
  font-size: 0.5rem;
}
.content-item {
  display: block;
  margin-bottom: 2rem;
}
.content-item:hover {
  margin: 2rem 0;
}
.content-item h3 {
  color: #444444;
}
.content-item h4 {
  font-size: 1rem;
  color: #444444;
  width: 100%;
}
.content-item h4 h1 {
  font-size: 1.5rem;
}
.content-item h4 p,
.content-item h4 ul {
  font-size: 1rem;
}
.content-item h4 span {
  font-size: 0.8rem;
  text-transform: uppercase;
  color: #5e5e5e;
}
.content-item h4 span h1 {
  font-size: 1.2000000000000002rem;
}
.content-item h4 span p,
.content-item h4 span ul {
  font-size: 0.8rem;
}
.content-item h4 span.pre {
  margin-right: 2rem;
}
.content-item h4 span.post {
  text-align: right;
  float: right;
}
.content-item .entry {
  margin-bottom: 2rem;
}
.content-item section {
  clear: left;
}
.content-item li {
  margin-bottom: .7rem;
}
#bottomside {
  background: #;
}
#bottomside nav a,
#bottomside nav a:visited {
  display: inline;
  margin-right: 1rem;
  padding: .5rem 1rem;
  color: #5e5e5e;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
}
#bottomside nav a:hover,
#bottomside nav a:visited:hover {
  background: #5e5e5e;
  color: #f5f5f5;
}
@media (max-width: 1000px) {
  .mainwrap {
    width: 70%;
    margin: 2em 10%;
    padding: 1em 5%;
  }
}
@media (max-width: 800px) {
  .mainwrap {
    width: 80%;
    margin: 2em 5%;
    padding: 1em 5%;
  }
  .content-item h4 span.post,
  .content-item h4 span.pre {
    clear: left;
    float: left;
    text-align: left;
    width: 100%;
    margin: .5rem 0;
  }
}
@media (max-width: 600px) {
  .mainwrap {
    width: 90%;
    margin: 2em 3%;
    padding: 1em 2%;
  }
  #topside header h1 {
    text-align: center;
  }
  #topside header h1 span {
    text-align: center;
    width: 100%;
  }
  #topside .meta .primary-data,
  #topside .meta .secondary-data {
    width: 100%;
    float: left;
    clear: left;
    text-align: center;
    margin-bottom: 1rem;
  }
}
