.font1 {
  font-family: 'EB Garamond', serif;
}
.font2 {
  font-family: 'Numans', sans-serif;
}
.font3 {
  font-family: 'Bree Serif', serif;
}
body {
  background: whitesmoke;
  color: #444;
  font-family: 'EB Garamond', serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Numans', sans-serif;
}
p,
ul,
span,
blockquote {
  font-family: 'Bree Serif', serif;
}
a,
a:visited {
  color: #4423c5;
}
.mainwrap {
  background: white;
  width: 50%;
  margin: 2em 20%;
  padding: 1em 5%;
  border: 1px solid #e9e9e9;
  box-shadow: 3px 3px 5px #ddd;
}
